@mixin size($size) {
  width: $size;
  height: $size;
}

@mixin circle($size) {
  @include size($size);
  border-radius: 50%;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-right {
  display: flex;
  justify-content: right;
}

@mixin icon($color, $url) {
  background: $color;
  -webkit-mask: $url no-repeat center;
  -webkit-mask-size: contain;
}

@mixin icon-url($url) {
  -webkit-mask-image: $url;
}

@mixin icon-color($color) {
  background: $color;
}

@mixin pseudo-ripple-effect($hover-color, $duration: 0.5s, $color: lch(50% 0 0), $opacity: 0.5) {
  cursor: pointer;

  position: relative;

  &:hover {
    background: $hover-color;
  }

  // 疑似リップルエフェクトアニメーション終了時点の状態
  &::after {
    content: '';

    @include circle(100%);
    @include absolute-center;

    opacity: 0;
    transition: opacity $duration, width $duration, height $duration;

    background: $color;

    pointer-events: none;
  }

  // 疑似リップルエフェクトアニメーション開始時点の状態
  &:active::after {
    @include size(0);
    opacity: $opacity;
    transition: opacity 0s, width 0s, height 0s;
  }
}

@mixin default-favicon {
  @include icon(lch(40% 0 0), url('default-favicon.svg'));
}
