@mixin circle($size) {
  width: $size;
  height: $size;
  border-radius: 50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin icon($color, $url) {
  background: $color;
  -webkit-mask: $url no-repeat center;
  -webkit-mask-size: contain;
}

@mixin icon-url($url) {
  -webkit-mask-image: $url;
}

@mixin icon-color($color) {
  background: $color;
}

@mixin pseudo-ripple-effect($hover-color, $duration: 0.5s, $color: #777777, $opacity: 0.5) {
  cursor: pointer;
  
  position: relative;
  
  &:hover {
    background: $hover-color;
  }
  
  // 疑似リップルエフェクトアニメーション終了時点の状態
  &::after {
    content: '';
    
    @include circle(100%);
    @include absolute-center;
    
    opacity: 0;
    transition: opacity $duration, width $duration, height $duration;
    
    background: $color;
    
    pointer-events: none;
  }
  
  // 疑似リップルエフェクトアニメーション開始時点の状態
  &:active::after {
    width: 0;
    height: 0;
    opacity: $opacity;
    transition: opacity 0s, width 0s, height 0s;
  }
}

@mixin default-favicon {
  // lch(40.0%, 0.0, 0.0)相当
  @include icon(#5e5e5e, url('default-favicon.svg'));
}
