* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.spa-root {
  height: 100%;
}

.default-favicon {
  /* アイコンを単なるマスク画像として扱い、任意の色で塗るテクニック */
  background: hsl(0, 0%, 40%);
  -webkit-mask-image: url('./default-favicon.svg');
}
