:root {
  --item-tree-base-font-size: 18px;

  /*
  アイテムツリーのテキスト全般に適用されるline-height。
  階層が深くなるごとにフォントサイズなどが小さくなる仕組みを実現するために比率で指定しなければならない。
  */
  --item-tree-line-height: 1.3;
  /* アイテムツリー内で階層が深くなるごとにフォントサイズなどが小さくなる仕組みに用いられる乗数 */
  --item-tree-font-size-multiplicator: 97%;

  /* フォントサイズをline-height（比率指定）を乗算して、行の高さを算出する */
  --calculated-item-tree-line-height: calc(1em * var(--item-tree-line-height));

  /** インデント領域の幅 */
  --item-tree-indent-area-width: var(--calculated-item-tree-line-height);

  /* バレットの外側の円の直径 */
  --bullet-outer-circle-diameter: 90%;
  /* バレットの外側の円の色 */
  --bullet-outer-circle-color: hsl(0, 0%, 80%);
  /* バレットの内側の円の直径 */
  --bullet-inner-circle-diameter: 30%;
  /* バレットの内側の円の色 */
  --bullet-inner-circle-color: hsl(0, 0%, 20%);

  /* インデントラインの太さ */
  --indent-line-width: 1px;
  /* インデントラインの色 */
  --indent-line-color: hsl(0, 0%, 90%);
  /* インデントラインの色（ホバー時） */
  --indent-line-hover-color: hsl(0, 0%, 70%);

  /* アクティブアイテムの背景色 */
  --active-item-background-color: hsla(240, 100%, 50%, 0.06);

  /* ウェブページアイテムのファビコン領域（正方形）の一辺の長さ */
  --item-tree-favicon-size: 1em;
}

.item-tree-root {
  font-size: var(--item-tree-base-font-size);
  line-height: var(--item-tree-line-height);
}

.item-tree-node {
  display: grid;
  grid-template-columns: var(--item-tree-indent-area-width) 1fr;
}

.item-tree-node_children-area {
  font-size: var(--item-tree-font-size-multiplicator);
}

.item-tree-node_spool-area {
  grid-row: 1 / 3;

  display: flex;
  justify-content: center;
}

/* アイテムツリーのバレットとインデントのルート要素 */
.item-tree-spool {
  position: relative;
  cursor: pointer;
}

.item-tree-spool_bullet-area {
  width: var(--item-tree-indent-area-width);
  height: var(--item-tree-indent-area-width);
  position: relative;
}

.item-tree-node-content-area:focus-within {
  /* アクティブアイテムの強調表示 */
  background: var(--active-item-background-color);
}

/* アイテムツリーのバレットの外側の円（アンフォールド状態用） */
.item-tree-spool_outer-circle {
  width: var(--bullet-outer-circle-diameter);
  height: var(--bullet-outer-circle-diameter);
  border-radius: 50%;
  background: var(--bullet-outer-circle-color);

  /* 中央寄せ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* アイテムツリーのバレットの内側の円 */
.item-tree-spool_inner-circle {
  width: var(--bullet-inner-circle-diameter);
  height: var(--bullet-inner-circle-diameter);
  border-radius: 50%;
  background: var(--bullet-inner-circle-color);

  /* 中央寄せ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* インデント領域 */
.item-tree-spool_indent-area {
  position: absolute;
  top: calc(var(--item-tree-indent-area-width) / 2);
  height: calc(100% - var(--item-tree-indent-area-width) / 2);
  width: 100%;
}

/* インデントライン */
.item-tree-spool_indent-line {
  background-color: var(--indent-line-color);
  width: var(--indent-line-width);
  height: 100%;
  margin: 0 auto;
}

/* バレットとインデントの領域のホバー時のインデントライン */
.item-tree-spool:hover .item-tree-spool_indent-line {
  background-color: var(--indent-line-hover-color);
}

/* テキストアイテムのコンテンツ領域のルート */
.item-tree-text-content {
  /* contenteditableな要素のフォーカス時の枠線を非表示 */
  outline: 0 solid transparent;
}

/* ウェブページアイテムのコンテンツ領域のルート */
.item-tree-web-page-content {
  /* ファビコンとタイトルなどを横並びにする */
  display: flex;
  align-items: center;

  /* フォーカス時の枠線を非表示 */
  outline: 0 solid transparent;
}

/* ウェブページアイテムのファビコン */
.item-tree-web-page-content_favicon {
  width: var(--item-tree-favicon-size);
  height: var(--item-tree-favicon-size);
}

/* ウェブページアイテムのタイトル */
.item-tree-web-page-content_title {
  /* テキスト折り返しを禁止 */
  white-space: nowrap;
}