:root {
  --item-tree-base-font-size: 16px;

  /*
  アイテムツリーのテキスト全般に適用されるline-height。
  階層が深くなるごとにフォントサイズなどが小さくなる仕組みを実現するために比率で指定しなければならない。
  */
  --item-tree-line-height: 1.2;
  /* アイテムツリー内で階層が深くなるごとにフォントサイズなどが小さくなる仕組みに用いられる乗数 */
  --item-tree-font-size-multiplicator: 99.5%;

  /* フォントサイズをline-height（比率指定）を乗算して、行の高さを算出する */
  --item-tree-calculated-line-height: calc(
    1em * var(--item-tree-line-height) + var(--item-tree-body-area-vertical-padding)
  );

  /* ボディ領域の上下パディング */
  --item-tree-body-area-vertical-padding: 1.5px;

  /* バレットの外側の円の直径は{@link ItemTreeSpoolView.ts}で動的に設定している */
  /* バレットの外側の円の色 */
  --item-tree-bullet-outer-circle-color: hsl(0, 0%, 80%);
  /* バレットの外側の円のマウスホバー時の色 */
  --item-tree-bullet-outer-circle-hover-color: hsl(0, 0%, 70%);
  /* バレットの内側の円の直径 */
  --item-tree-bullet-inner-circle-diameter: 0.45em;
  /* バレットの内側の円の色 */
  --item-tree-bullet-inner-circle-color: hsl(0, 0%, 35%);
  /* バレットの内側の円のマウスホバー時の色 */
  --item-tree-bullet-inner-circle-hover-color: hsl(0, 0%, 0%);
  /* バレットとして表示されるページアイコンのサイズ（正方形の一辺の長さ） */
  --bullet-page-icon-size: 1em;

  /* インデントラインの太さ */
  --item-tree-indent-line-width: 1px;
  /* インデントラインの色 */
  --item-tree-indent-line-color: hsl(0, 0%, 88%);
  /* インデントラインの色（ホバー時） */
  --item-tree-indent-line-hover-color: hsl(0, 0%, 70%);

  /* フォーカスアイテムの背景色 */
  --item-tree-focused-item-background-color: hsl(240, 100%, 98%);
  /* マウスホバーアイテムの背景色 */
  --item-tree-mouse-hover-item-background-color: hsl(240, 100%, 98.8%);

  /* 複数選択されたアイテムの背景色 */
  --item-tree-selected-item-background-color: hsl(216, 89%, 85%);

  /* 最も新しい足跡の色（線形補間の一端） */
  --strongest-footprint-color: hsl(0, 100%, 97.3%);
  /* 最も古い足跡の色（線形補間の一端） */
  --weakest-footprint-color: hsl(60, 100%, 97.3%);

  /* ハイライト状態のアイテムのバレットの色 */
  --highlighted-item-bullet-color: hsl(0, 100%, 45%);
  /* ハイライト状態のアイテムのバレットのマウスホバー時の色 */
  --highlighted-item-bullet-hover-color: hsl(0, 70%, 45%);

  /* グレーアウト状態のアイテムの標準的なテキスト色 */
  --grayed-out-item-text-color: hsl(0, 0%, 75%);

  /* 削除ボタンのサイズ（正方形の一辺の長さ） */
  --item-tree-delete-button-size: 0.8em;
  /* 削除ボタンのマウスホバー時の背景 */
  --item-tree-delete-button-background-hover-color: hsl(0, 0%, 90%);

  /* ウェブページアイテムのファビコン領域（正方形）の一辺の長さ */
  --item-tree-favicon-size: 1em;

  /* ウェブページアイテムの音がなっていることを示すアイコン領域（正方形）の一辺の長さ */
  --item-tree-audible-icon-size: 1em;
  /* ウェブページアイテムの音がなっていることを示すアイコンの色 */
  --item-tree-audible-icon-color: hsl(0, 0%, 30%);

  /* アンロード済みウェブページアイテムのopacity */
  --unloaded-web-page-item-opacity: 40%;
}

.item-tree {
  flex-grow: 1;

  /* サイドバーやアイテムツリーは独立してスクロール可能とする */
  overflow: auto;

  font-size: var(--item-tree-base-font-size);
  line-height: var(--item-tree-line-height);

  padding-left: 15px;
  padding-top: 15px;
  /* ある程度大きめに余白をとっておかないと、下端付近でのスクロールの余裕がなくて窮屈になる */
  padding-bottom: 150px;
}

.item-tree-node {
  /* バレット&インデント領域とボディ&子リスト領域を横に並べる */
  display: flex;
}

.item-tree-node_body-and-children-area {
  /* ボディ領域を右端まで伸ばす */
  flex-grow: 1;
}

/* ハイライト状態のアイテムの強調表示 */
.highlighted-item .item-tree-spool_inner-circle {
  background: var(--highlighted-item-bullet-color);
}
.highlighted-item .item-tree-spool:hover .item-tree-spool_inner-circle {
  background: var(--highlighted-item-bullet-hover-color);
}

/* マウスホバー時のボディ領域 */
.item-tree-node_body-area:hover {
  /* マウスホバーアイテムの強調表示 */
  background: var(--item-tree-mouse-hover-item-background-color);
}

/* ボディ領域 */
.item-tree-node_body-area {
  padding: var(--item-tree-body-area-vertical-padding) 0;
  /* コンテンツ領域とボタン類を横に並べる */
  display: flex;
}
/* フォーカス時のボディ領域 */
.item-tree-node_body-area:focus-within {
  /* フォーカスアイテムの強調表示 */
  background: var(--item-tree-focused-item-background-color);
}

/* コンテンツ領域 */
.item-tree-node_content-area {
  flex-grow: 1;
}

/* 隠れているタブ数 */
.item-tree-node_hidden-tabs-count {
  flex-basis: var(--item-tree-delete-button-size);
  height: var(--item-tree-delete-button-size);

  /* 横幅が縮まないよう設定 */
  flex-shrink: 0;
}

/* 各アイテムの削除ボタン */
.item-tree-node_delete-button {
  flex-basis: var(--item-tree-calculated-line-height);
  height: var(--item-tree-calculated-line-height);

  /* 横幅が縮まないよう設定 */
  flex-shrink: 0;

  border-radius: 50%;

  /* アイコンと疑似リップルエフェクトを中央寄せにする */
  position: relative;

  /* マウスホバー時にのみ表示 */
  visibility: hidden;

  /* ボタンであることを示す */
  cursor: pointer;
}
.item-tree-node_body-area:hover .item-tree-node_delete-button {
  /* マウスホバー時にのみ表示 */
  visibility: visible;
}
.item-tree-node_delete-button:hover {
  background: var(--item-tree-delete-button-background-hover-color);
}

.item-tree-node_delete-button-icon {
  width: var(--item-tree-delete-button-size);
  height: var(--item-tree-delete-button-size);

  /* 中央寄せ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* アイコンを単なるマスク画像として扱い、任意の色で塗るテクニック */
  background: hsl(0, 0%, 30%);
  -webkit-mask-image: url('close-icon.svg');
}

.item-tree-node_children-area {
  /* 階層の深さに応じてフォントサイズを小さくする */
  font-size: var(--item-tree-font-size-multiplicator);
}

/* アイテムツリーのバレットとインデントのルート要素 */
.item-tree-spool {
  width: var(--item-tree-calculated-line-height);
  height: 100%;
  /* インデントラインをバレットの裏まで描画するための設定 */
  position: relative;

  cursor: pointer;
}

.item-tree-spool_bullet-area {
  width: var(--item-tree-calculated-line-height);
  height: var(--item-tree-calculated-line-height);
  /* 外側の円と内側の円を重ねて描画するための設定 */
  position: relative;
}

/* アイテムツリーのバレットの外側の円（展開状態用） */
.item-tree-spool_outer-circle {
  /* widthとheightがJavaScriptで設定される */

  border-radius: 50%;
  background: var(--item-tree-bullet-outer-circle-color);

  /* 中央寄せ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item-tree-spool:hover .item-tree-spool_outer-circle {
  background: var(--item-tree-bullet-outer-circle-hover-color);
}

/* アイテムツリーのバレットの内側の円 */
.item-tree-spool_inner-circle {
  width: var(--item-tree-bullet-inner-circle-diameter);
  height: var(--item-tree-bullet-inner-circle-diameter);
  border-radius: 50%;
  background: var(--item-tree-bullet-inner-circle-color);

  /* 中央寄せ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item-tree-spool:hover .item-tree-spool_inner-circle {
  background: var(--item-tree-bullet-inner-circle-hover-color);
}

/* ページのバレット */
.item-tree-spool_page-icon {
  width: var(--bullet-page-icon-size);
  height: var(--bullet-page-icon-size);

  /* アイコンを単なるマスク画像として扱い、任意の色で塗るテクニック */
  background: var(--item-tree-bullet-inner-circle-color);
  -webkit-mask-image: url('./page-icon.svg');

  /* 中央寄せ */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.item-tree-spool:hover .item-tree-spool_page-icon {
  background: var(--item-tree-bullet-inner-circle-hover-color);
}

/* インデント領域 */
.item-tree-spool_indent-area {
  position: absolute;
  /* バレットの中心のY座標から子リストの下端までの領域にする */
  top: calc(var(--item-tree-calculated-line-height) / 2);
  height: calc(100% - var(--item-tree-calculated-line-height) / 2);
  width: 100%;
}

/* インデントライン */
.item-tree-spool_indent-line {
  background: var(--item-tree-indent-line-color);
  width: var(--item-tree-indent-line-width);
  height: 100%;
  margin: 0 auto;
}

/* バレットとインデントの領域のホバー時のインデントライン */
.item-tree-spool:hover .item-tree-spool_indent-line {
  background: var(--item-tree-indent-line-hover-color);
}

/* テキストアイテムのcontenteditableな要素 */
.item-tree-text-content_content-editable {
  /* contenteditableな要素のフォーカス時の枠線を非表示 */
  outline: 0 solid transparent;
}

/* グレーアウト状態のテキストアイテム */
.grayed-out-item .item-tree-text-content_content-editable,
.grayed-out-item-children .item-tree-text-content_content-editable {
  color: var(--grayed-out-item-text-color);
}

/* ウェブページアイテムのコンテンツ領域のルート */
.item-tree-web-page-content {
  /* ファビコンとタイトルなどを横並びにする */
  display: flex;
  align-items: center;

  /* フォーカス時の枠線を非表示 */
  outline: 0 solid transparent;
}

/* グレーアウト状態のウェブページアイテム */
.grayed-out-item .item-tree-web-page-content_title,
.grayed-out-item-children .item-tree-web-page-content_title {
  color: var(--grayed-out-item-text-color);
}

/* ウェブページアイテムのファビコン */
.item-tree-web-page-content_favicon {
  width: var(--item-tree-favicon-size);
  height: var(--item-tree-favicon-size);
  /* 横幅が縮まないよう設定 */
  flex-shrink: 0;

  /* クリックして操作できることを示す */
  cursor: pointer;
}
/* デフォルトファビコン */
.item-tree-web-page-content_favicon.default-favicon {
  /* アイコンを単なるマスク画像として扱い、任意の色で塗るテクニック */
  background: hsl(0, 0%, 30%);
  -webkit-mask-image: url('./default-favicon.svg');
}

/* ローディングインジケータ */
.loading-indicator {
  border-radius: 50%;
  border-top: 4px solid hsl(200, 0%, 30%);
  border-right: 4px solid hsl(200, 0%, 70%);
  border-bottom: 4px solid hsl(200, 0%, 70%);
  border-left: 4px solid hsl(200, 0%, 70%);
  box-sizing: border-box;
  animation: rotation 0.8s infinite linear;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* ウェブページアイテムの音がなっていることを示すアイコン */
.item-tree-web-page-content_audible-icon {
  width: var(--item-tree-audible-icon-size);
  height: var(--item-tree-audible-icon-size);
  /* 横幅が縮まないよう設定 */
  flex-shrink: 0;

  background: var(--item-tree-audible-icon-color);
  -webkit-mask-image: url('./audible-icon.svg');
}

/* ウェブページアイテムのタイトル */
.item-tree-web-page-content_title {
  /* クリック当たり判定を右端まで伸ばす */
  flex-grow: 1;

  cursor: default;

  /*
  ウェブページアイテムのタイトルの折り返しを防ぐための設定。
  下記のような設定を試したが、横スクロール可能になってしまう（原因不明）ので別の方針で実現。

  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;

  そもそも折り返しを防ぐ理由：
  (1) ウェブページのタイトルは非常に長い場合もあり、Treeifyウィンドウの横幅によっては何行も専有して邪魔。
  (2) Chromeはタブ読込中に一瞬だけURLをタイトル扱いする場合がある。
      その瞬間だけ折り返しが発生し、画面がガクッと動くような印象を与えてしまう。
  */
  max-height: var(--item-tree-calculated-line-height);
  overflow: hidden;
}

/* アンロード済みウェブページアイテムのタイトルのグレーアウト */
.item-tree-web-page-content_title.unloaded-item {
  opacity: var(--unloaded-web-page-item-opacity);
}

/* アンロード済みウェブページアイテムのファビコンのグレーアウト */
.item-tree-web-page-content_favicon.unloaded-item {
  opacity: var(--unloaded-web-page-item-opacity);
}

/*
複数選択されたアイテムの背景色設定。
他の背景色設定（足跡やマウスホバーなど）を上書きするために、いくつものセレクターに対して設定する必要がある。
CSSの優先順位のためにファイルの下の方で定義する。
*/
.selected.item-tree-node,
.selected .item-tree-node_body-area {
  background: var(--item-tree-selected-item-background-color);
}
