:root {
  /* ページツリーのテキスト全般に適用されるline-height */
  --page-tree-line-height: 1.65;
}

.left-sidebar {
  flex-basis: 200px;
  flex-shrink: 0;

  background-color: hsl(0, 0%, 35%);
  color: white;
}
/* デュアルウィンドウレイアウトでは左サイドバーを非表示 */
@media screen and (max-width: 700px) {
  .left-sidebar {
    display: none;
  }
}

.page-tree {
  font-size: 15px;
  line-height: var(--page-tree-line-height);
}

.page-tree-node_content-area {
  cursor: default;
}
