* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.spa-root {
  height: 100%;
}

.default-favicon {
  /* lch(40.0%, 0.0, 0.0)相当 */
  background: #5e5e5e;
  -webkit-mask-image: url('./default-favicon.svg');
}
